:root {
  --secondary-text-color: #757575;
  --primary-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  background-color: #fff;
  color: var(--primary-text-color);
}

/* Header */

.logo {
  color: var(--primary-text-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo span {
  color: var(--accent-color);
}
.list {
  list-style: none;
}

/* Site nav */
.site-nav {
}

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link-right {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link-right:hover,
.site-nav .link-right:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-section {
  background-color: #2f303a;
}
.hero-title {
  color: #fff;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: white;
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--accent-color);
  background-color: white;
}

/* Features */
.features-list {
}
.features-list li {
}

.features-list .title {
  color: var(--primary-text-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-list .text {
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
}

/* Portfolio */

.portfolio .title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Team */

.team-section {
  background-color: #f5f4fa;
}

.team-title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list li {
}
.team-list .name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.team-list .role {
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.03em;
}

/* Footer */

.footer {
  background-color: #2f303a;
}
.footer .address {
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}
.footer .info {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer .logo {
  color: #fff;
}

/* PORTFOLIO.html */
.p-buttons {
}
.p-buttons .button {
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  border-radius: 4px;
}
.p-buttons .button:hover,
.p-buttons .button:focus {
  color: #fff;
  background-color: var(--accent-color);
}

.p-list {
}
.p-list li {
}
.p-list .title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}
.p-list .name {
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
}
